img {
    width: 120px;
    height: 120px;
}
body {
    height: 1000px;
}

/* ABSOLUTE positioning is like setting x,y coordinates
   The element is pulled OUT of the pages NORMAL FLOW
   Then we set the DISTANCE from two sides (top & left)
 */
#absolute {
    position: absolute;
    top: 550px;
    left: 500px;
    z-index: 10;
}
/* FIXED positioning keeps the element in the same place even when you scroll down
*/
#fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
/* STICKY positioning is like fixed, but it only "sticks" there when you scroll to it
 */
#sticky {
    position: sticky;
    top: 10px;
    left: 30px;
}
#container {
    background: pink;
    display:inline-block;
}
/* RELATIVE positioning lets you "nudge" an element from its normal position on the page (moves it relative to its static spot)
 */
#relative {
    position: relative;
    top: -20px;
    left: 20px;
}
